<section class="bg-blend-multiply relative">
  <div class="w-full h-full bg-no-repeat bg-cover bg-[url('/assets/img/girlcyber.png')] relative">
    <div class="px-4 mx-auto max-w-full text-center py-0 lg:py-0">
      <!-- Título Adicionado -->
      <h2 class="text-4xl text-white mb-8 pt-5 font-light">Personagens</h2>

      <div class="flex flex-col sm:flex-row flex-wrap items-center justify-center w-full space-x-4 ">
        <div class="relative flex flex-col items-center flex-shrink-0 w-11/12 sm:w-1/3 md:w-1/4 lg:w-1/5 mb-4 sm:mb-0">
          <img src="assets/pngPersonagens/girlhairblonde.png" alt="Myers"
            class="object-contain w-full h-auto max-w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
          <div class="absolute bottom-0 left-0 right-0 w-full px-4 py-2 text-center text-white font-bold bg-black opacity-75 shadow-md shadow-lime-600">MYERS</div>
        </div>
        <div class="relative flex flex-col items-center flex-shrink-0 w-11/12 sm:w-1/3 md:w-1/4 lg:w-1/5 mb-4 sm:mb-0 ">
          <img src="assets/pngPersonagens/girlhairpink.png" alt="Songbird"
            class="object-contain w-full h-auto max-w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
          <div class="absolute bottom-0 left-0 right-0 w-full px-4 py-2 text-center text-white font-bold bg-black opacity-75 shadow-md shadow-pink-700">SONGBIRD</div>
        </div>
        <div class="relative flex flex-col items-center flex-shrink-0 w-11/12 sm:w-1/3 md:w-1/4 lg:w-1/5 mb-4 sm:mb-0">
          <img src="assets/pngPersonagens/manclothesblack.png" alt="Reed"
            class="object-contain w-full h-auto max-w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
          <div class="absolute bottom-0 left-0 right-0 w-full px-4 py-2 text-center text-white font-bold bg-black opacity-75 shadow-md shadow-red-700">REED</div>
        </div>
        <div class="relative flex flex-col items-center flex-shrink-0 w-11/12 sm:w-1/3 md:w-1/4 lg:w-1/5 mb-4 sm:mb-0">
          <img src="assets/pngPersonagens/maneyesrobot.png" alt="Alex"
            class="object-contain w-full h-auto max-w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
          <div class="absolute bottom-0 left-0 right-0 w-full px-4 py-2 text-center text-white font-bold bg-black opacity-75 shadow-md shadow-amber-900">ALEX</div>
        </div>
        <div class="relative flex flex-col items-center flex-shrink-0 w-11/12 sm:w-1/3 md:w-1/4 lg:w-1/5 mb-4 sm:mb-0">
          <img src="assets/pngPersonagens/whiteclothes.png" alt="Hansen"
            class="object-contain w-full h-auto max-w-full transition-transform duration-300 ease-in-out transform hover:scale-110">
          <div class="absolute bottom-0 left-0 right-0 w-full px-4 py-2 text-center text-white font-bold bg-black opacity-75 shadow-md shadow-yellow-50 mb-2">HANSEN</div>
        </div>
      </div>
    </div>
  </div>
</section>
