<section class="bg-center bg-no-repeat bg-[url('/assets/img/japonespngblack.jpg')] bg-blend-multiply">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 flex flex-col lg:flex-row items-center lg:items-start">
    <div class="flex flex-row flex-nowrap space-x-4">
      <div class="relative flex flex-col items-center flex-grow">
        <img src="assets/pngPersonagens/girlhairblonde.png" alt="Myers" class="w-64 h-96">
      </div>
      <div class="relative flex flex-col items-center flex-grow">
        <img src="assets/pngPersonagens/girlhairpink.png" alt="Songbird" class="w-64 h-96">
      </div>
      <div class="relative flex flex-col items-center flex-grow">
        <img src="assets/pngPersonagens/manclothesblack.png" alt="Reed" class="w-64 h-96">
      </div>
      <div class="relative flex flex-col items-center flex-grow">
        <img src="assets/pngPersonagens/maneyesrobot.png" alt="Alex" class="w-64 h-96">
      </div>
      <div class="relative flex flex-col items-center flex-grow">
        <img src="assets/pngPersonagens/whiteclothes.png" alt="Hansen" class="w-64 h-96">
      </div>
    </div>
  </div>
</section>
