<nav class="bg-black/80 dark:bg-gray-900 w-full z-20 top-0 start-0 border-b border-custom-yellow dark:border-gray-600 fixed">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a (click)="scrollToTop()" class="flex items-center">
      <img src="assets/logos/Cyberpunk2077.png" class="h-13 w-48" alt="logo cyberpunk">
    </a>

    <!-- Checkbox for menu toggle -->
    <input type="checkbox" id="menu-toggle" class="hidden">

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="text-black font-bold bg-custom-yellow hover:bg-black/60 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-br-3xl rounded-tl-xl text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 font-roboto">
        Buy Game
      </button>
      <!-- Menu button for mobile -->
      <label for="menu-toggle" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 cursor-pointer">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </label>
    </div>

    <!-- Desktop Menu -->
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 dark:border-gray-700">
        <li>
          <a [routerLink]="['/pagina-inicial']" routerLinkActive="active" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">Home</a>
        </li>
        <li>
          <a [routerLink]="['/news']" routerLinkActive="active" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">News</a>
        </li>
        <li>
          <a [routerLink]="['/personagens']" routerLinkActive="active" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">Personagens</a>
        </li>
        <li>
          <a routerLink="/a" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">Posters</a>
        </li>
      </ul>
    </div>

    <!-- Mobile Menu -->
    <div class="md:hidden absolute top-16 left-0 w-full bg-black/70 dark:bg-gray-900" id="mobile-menu">
      <ul class="flex flex-col p-4 font-medium border border-gray-100 rounded-lg bg-transparent dark:bg-gray-800 dark:border-gray-700">
        <li>
          <a routerLink="/pagina-inicial" class="block py-2 px-3 text-custom-yellow rounded md:bg-transparent md:text-custom-yellow md:p-0 md:dark:text-custom-yellow" aria-current="page">Home</a>
        </li>
        <li>
          <a routerLink="/news" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">News</a>
        </li>
        <li>
          <a routerLink="/a" class="relative py-1 text-white cursor-default whitespace-nowrap before:absolute before:bottom-0 before:left-0 before:w-0 before:h-1 before:bg-custom-yellow before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:text-custom-yellow" aria-current="page">Posters</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="pt-20">

