<section class="bg-black dark:bg-gray-900 ">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-custom-yellow">
        Notícias
      </h2>
      <p class="text-white sm:text-xl dark:text-gray-400">
        Lancamento, Atualizações, Mods e muito mais!!!!
      </p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0 ">
      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
            shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/cardexplosion.jpg" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6">Lançamento </span>
        <span class="text-gray-600 ">11/11/2080</span>

      </div>

      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
            shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/cardartcyber.jpg" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6">Mod Novos </span>
        <span class="text-gray-600 ">11/11/2080</span>
      </div>
      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
          shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/animecyberpunk.jpg" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6">Lançamento Edgerunners </span>
        <span class="text-gray-600 ">11/11/2080</span>
      </div>
      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
        shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/cardreeves.jpg" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6 ">Revees </span>
        <span class="text-gray-600 ">11/11/2080</span>
      </div>
      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
      shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/cardgirlpink.jpg" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6">Conexão Neural </span>
        <span class="text-gray-600 ">11/11/2080</span>
      </div>
      <div class="">
        <div class="group overflow-hidden relative after:duration-500 before:duration-500 duration-500 hover:after:duration-500 hover:after:translate-x-24 hover:before:translate-y-12 hover:before:-translate-x-32 hover:duration-500 after:absolute after:bg-sky-700 after:rounded-full after:blur-xl after:bottom-32 after:right-16 after:w-12 after:h-12 before:absolute before:bg-sky-400 before:rounded-full before:blur-xl before:top-20 before:right-16 before:w-12 before:h-12 hover:rotate-12 flex justify-center items-center h-56 w-80 bg-neutral-900 rounded-2xl outline
      shadow-2xl shadow-cyan-400/50">
          <img src="assets/cards/card1.png" alt="Foto da notícia" class="w-full h-full object-cover rounded-2xl">
          <div class="z-10 flex flex-col items-center gap-2">
          </div>
        </div>
        <span class="text-pink-700 text-xl font-oxanium flex font-black mt-6">Mod Novos </span>
        <span class="text-gray-600 ">11/11/2080</span>
      </div>
    </div>
  </div>
</section>
