<section class="bg-no-repeat bg-cover bg-[url('/assets/img/careca.jpg')] bg-white dark:bg-gray-900 relative h-[900px]">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 flex flex-col lg:flex-row items-center lg:items-start z-10">
    <div class="lg:w-1/2 mb-8 lg:mb-16 text-left">
      <h2 class="mb-2 text-6xl tracking-tight font-oxanium font-extrabold text-black dark:text-white">
        Vivencie a experiência definitiva de Cyberpunk <span>2077</span>
      </h2>
      <!--<p class="mb-4 text-white">Mergulhe no universo de Cyberpunk, desde o enredo original de Cyberpunk 2077 e sua emocionante expansão de suspense e espionagem Phantom Liberty até a premiada série de anime Cyberpunk:</p> -->
    </div>
    <div class="lg:w-1/2 lg:ml-8 lg:order-2 relative z-20">
      <div class="relative mx-auto mt-[-20%]">
        <img src="assets/img/Hero Image.png" alt="mockup" class="max-w-md md:max-w-lg">
      </div>
    </div>
  </div>
</section>
