<section class="dark:bg-gray-900 relative">
  <video
    autoplay muted loop playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-[-1] ">
    <source src="assets/mp4/cyberpunk.mp4" type="video/mp4; codecs=av01.0.05M.08">
    <source src="assets/mp4/cyberpunk.mp4" type="video/mp4">
  </video>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56 flex flex-col lg:flex-row items-center lg:items-start z-10">
    <div class="lg:w-1/2 mb-8 lg:mb-16 text-left">
      <h2 class="mb-2 text-6xl tracking-tight font-oxanium font-extrabold text-black dark:text-white">
        Vivencie a experiência definitiva de Cyberpunk <span>2077</span>
      </h2>
      <p class="mb-4 mt-9 tracking-tight font-oxanium font-extrabold text-black">Mergulhe no universo de Cyberpunk, desde o enredo original de Cyberpunk 2077 e sua emocionante expansão de suspense e espionagem Phantom Liberty até a premiada série de anime Cyberpunk:</p>
      <div class="flex justify-start space-y-4 flex-col md:flex-row sm:flex-col sm:justify-start sm:space-y-0 gap-6 mb-5 mt-10">
        <button type="button" class="text-black font-black  bg-transparent border-solid hover:bg-black/60 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-br-3xl rounded-tl-xl text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 font-oxanium px-12 sm:px-24 shadow-lg shadow-black">
          <a href="https://www.youtube.com/watch?v=TTe7omZ469w" target="_blank">Mais informações</a>
        </button>
        <button type="button" class="text-black font-black  bg-transparent border-solid hover:bg-black/60 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-br-3xl rounded-tl-xl text-sm py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 font-oxanium px-12 sm:px-24 shadow-lg shadow-black">
          <a href="https://www.youtube.com/watch?v=qIcTM8WXFjk" target="_blank">Assista o Trailer</a>
        </button>
      </div>

      <div class="flex flex-wrap justify-center lg:justify-start space-y-4 gap-6 z-[-2] items-center">
        <img src="assets/logos/logoxbox2.png" class="w-20 h-10 sm:w-24 sm:h-12" alt="logoxbox">
        <img src="assets/logos/ps5transparent1.png" class="w-20 h-10 sm:w-24 sm:h-12" alt="logops5">
        <img src="assets/logos/logopc.png" class="w-20 h-10 sm:w-24 sm:h-12" alt="logopc">
      </div>
    </div>
    <div class="lg:w-1/2 lg:ml-8 lg:order-2 relative z-20"> </div>
  </div>
</section>
